{% extends 'base_admin.html' %}

{% block header %}
  <h1>{% block title %}Add user{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <select name="role">
      <option value="user" selected>User</option>
      <option value="admin">Admin</option>
    </select>
    <input type="submit" value="Register">
  </form>
{% endblock %}