{% extends 'base_admin.html' %}

{% block header %}
  <h1>{% block title %}Delete User{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form action="" method="POST" novalidate>
        <input id="csrf_token" name="csrf_token" type="hidden" value="IjY3MmRlMzExZTBjNWU0MjhhMWM5NThhZWYwOWNjMzIwODIwMjY1ZTYi.XpI6Tw.sFduweiZPE1T-SxaltpnMTzk7DU">
        <p>
            <label for="username">Username</label> <br>
            <input id="username" name="username" required size="32" type="text" value=""> <br>
        </p>
        <p><input id="submit" name="submit" type="submit" value="Delete user"></p>
    </form>
{% endblock %}