{% extends 'base_admin.html' %}

{% block header %}
  <h1>{% block title %}Show users{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>User role</th>
                <th>Ip adress</th>
            </tr>
        </thead>
        <tbody>
        {% for row in rows %}
            <tr>
                <th>{{ row.username }}</th>
                <th>{{ row.user_role }}</th>
                <th></th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}