html {
    width: 100vw;
    height: 100vh;
}

body {
    height: 100%;
    width: 100%;
    background: #86989B;
}

nav.navbar {
    height:46px;
    margin-bottom: 8px;
}

#content {
    position: absolute;
    top: 54px;
    left: 0px;
    width: 800px;
    height: 414px;
}

