* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}
body {
  width: 100%;
  color: white;
  background-color: #131419;
}
h2 {
  padding-top: 20px;
  text-align: center;
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
}

nav ul {
  min-height: 50px;
  padding: 5px;
  color: black;
  font-size: 22px;
  background-color: #009879;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}
li {
  color: white;
  line-height: 50px;
}

button {
  border-radius: 20px;
  font-size: 16px;
  border-color: white;
  color: white;
  padding: 9px 25px;
  background-color: #009879;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #008066;
  cursor: pointer;
}

.content-table {
  border-collapse: collapse;
  margin-left: 1%;
  margin-right: 1%;
  min-width: 98%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.content-table thead tr {
  background-color: #009879;
}
.content-table th {
  text-align: left;
  padding: 12px 15px;
}
thead {
  color: white;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

input {
  display: inline-block;
  padding: 7px;
  border-radius: 25px;
}
label {
  padding-top: 10px;
}

.flex-container {
  padding-top: 10%;
  display: flex;
  justify-content: space-around;
}

.flex1,
.flex2 {
  width: 50%;
  padding: 20px;
  text-align: center;
  display: inline-block;
}

@media screen and (max-width: 500px) {
  .flex-container {
    display: block;
  }
  nav ul {
    font-size: 0.8em;
  }

  .flex1,
  .flex2 {
    width: 100%;
  }
  .flex1 {
    border-right: none;
  }
  li {
    vertical-align: middle;
  }
}

h3 {
  font-size: 25px;
  text-align: center;
}

#submit {
  padding: 8px;
  background-color: #009879;
  color: white;
  border-radius: 25px;
}
.add-user,
.delete-user {
  padding-top: 15px;
}

label {
  display: block;
}

.delete-user {
  padding-top: 30px;
}

#submit:hover {
  background-color: #008066;
  cursor: pointer;
}
