*{
    font-family: "Roboto", sans-serif;
  
    background-color:  #131419;
  }
  
  
  .pin-login {
  
  
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    font-size: 28px;
    background: #131419;
  
    font-family: "Roboto", sans-serif;
    /*die nachfolgenden commands sichern dass der usern nichts highlighten kann
    */
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
  
  }
  .wrapper{
    height: 100vh;
    padding-top: 5%;
    display: block;
    text-align: center;           /*centers form into middle of page */
  }
  
  .pin-login__text{
    vertical-align: middle;
    padding: 10px 3% 10px 3%;
    display: block;
    width: 94%;
    font-size: 0.5em;
    text-align: center;
    letter-spacing: 0.2em;
    background: white;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: default;
    color: #009879;
  }
  
  .pin-login__text--error{
    color: #901818;
    background: #ffb3b3;
    animation-name: loginError;
    animation-duration: 0.1s;
    animation-iteration-count: 2;
  }
  
  @keyframes loginError {
    25% {transform: translateX(-3px);  }
    75% {transform: translatex(3px);   }
  }
  
  @-moz-keyframes loginError {
    25% {transform: translateX(-3px);  }
    75% {transform: translatex(3px);   }
  }
  
  
  .pin-login__key{
    width: 60px;
    height: 60px;
    margin: 10px;
    background: white;
    color: #009879;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
  }
  .pin-login__key:active {
    background: rgba(0, 0, 0, 0.25);
  
  }
  
  @media (min-width: 700px){
    .pin-login{
  
      margin: auto;
    }
    wrapper{
      height: 100%;
      justify-content: center;
    }
  }
  
  .pin-login__numpad{
    padding-top: 30%;
  }
  