*{
  font-family: "Roboto", sans-serif;

  background-color:  #131419;
}


.pin-form {
  /*die nachfolgenden commands sichern dass der usern nichts highlighten kann
  */
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  font-family: "Roboto", sans-serif;
  padding: 5%;
  display: inline-block;
  font-size: 28px;
  border-radius: 10px;
  background: #131419;
}
.wrapperklasse{
 
  padding-top: 5%;
  display: block;
  text-align: center;        
}

.pin-feldtext{
  
  padding: 10px 3% 10px 3%;
  display: block;
  width: 94%;
  font-size: 0.5em;
  text-align: center;
  letter-spacing: 0.2em;
  background: white;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: default;
  color: #009878;
}


.button_style{
  font-size: 20px;
  width: 60px;
  height: 60px;
  margin: 10px;
  background: white;
  font-weight: bold;
  color: #009878;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button_style:active {
  background: rgba(0, 0, 0, 0.25);

}

@media (min-width: 700px){
  .pin-form{

    margin: auto;
  }
  wrapper{
    height: 100%;
    justify-content: center;
  }
}
.pin-numpad{
  padding-top: 30%;
}
img{
  background: white !important;
  
}

@supports (-moz-appearance:none){
  img{
    padding-left:10px;
  }
} 