#control-table {
    table-layout: fixed;
}

#control-table > thead > tr {
    height: 2rem;
}

#control-table > tbody > tr > * {
    border: 1px solid black;
    height: 18rem;
}

#control-table > tbody > tr > th {
    background: #454d55;
}

#content {
    height: 400px;
}


th.table-default{
    height: 200px;
}