<!doctype html>
<html lang="en">
  <head>
  <title>{% block title %}{% endblock %} LICSTER</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  </head>
  <body>
    <section class="content">
      <div class="form responsive">
        {% block header %}{% endblock %}
        {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
      </div>
    </section>
  </body>
</html>