<!doctype html>
<html lang="en">
  <head>
    <title>Set password | LICSTER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/set_password.css') }}">
  </head>
  <body>
    <div class="form responsive">
      <h1>Set your password</h1>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      <form action="" method="POST" novalidate>
        {{ form.csrf_token }}
        {{ form.password() }}
        {{ form.submit() }}
      </form>
    </div>
  </body>
</html>